<ion-view title="Axé">
	<ion-content class="padding">
		<button ui-sref="message" class="button button-block oxumare">
		  Palavras de Mãe Stella
		</button>
		<button ui-sref="dictionary" class="button button-block exu">
		  Yorubá no corpo
		</button>
		<button ui-sref="philosophy" class="button button-block button-balanced">
		  Filosofia Yorubá
		</button>
	</ion-content>
</ion-view>